#NIE-topshare {
  font-size: 1.2rem;
}
#hengpin {
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  display: none;
}
.maskhp {
  background-color: #000;
  opacity: .6;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 201;
}
#hengpin p {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 202;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-top: -1rem;
}
.bgs {
  background-size: 100% 100%;
}
.tr_t {
  top: 50%;
  -ms-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}
.tr_l {
  left: 50%;
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
}
.box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
