<!DOCTYPE html> 
<html lang="zh-cn"> 
<head> 
<meta charset="utf-8" /> 
<title>QQ音乐 - 音乐你的生活!</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="css/question_naire.css" />
<!--[if IE 6]><script>try{document.execCommand("BackgroundImageCache", false, true);}catch(e){}</script><![endif]-->
</head>
<body>
<div class="qn_header"></div>
<div class="qn_container">
	<form action="/send/data" method="post" enctype="multipart/form-data">
		<h3 class="qn_title">基本信息</h3>
	    <ul class="qn_list qn_list_float">
	        <li><em>电影名字：</em><label><input type="text" name="name" class="qn_input input_w_m" value="蓝色的天空" /></label></li>
	        <li><em>英文id：</em><label><input type="text" name="nickname" class="qn_input input_w_m" value="" /></label></li>
	        <li><em>简介：</em><label><input type="text" name="info" class="qn_input input_w_m" /></label></li>
	        <li><em>导演：</em><label><input type="text" name="doctor" class="qn_input input_w_m" /></label></li>
	    </ul>
	    <ul class="qn_list qn_list_float">
	        <li><em>地区：</em><label><input type="text" name="location" class="qn_input input_w_l" /></label></li>
	        <li><em>演员：</em><label><input type="text" name="bitch" class="qn_input input_w_m" /></label></li>
	        <li><em>海报：</em><label><input type="file" name="pic" class="qn_input input_w_m" id="aaa"/></label></li>
	    </ul>
	    <ul class="qn_list">
	        <li><em>电影链接：</em><label><input type="text" name="href" class="qn_input input_w_xl" /></label></li>
	    </ul>
	    <div class="qn_control">
	        <input class="qn_control_button" type="submit" value="确认"></input>
	    </div>
	</form>
</div>
<script type="text/javascript">
	
</script>
</body>
</html>
